body {
  text-align: center;
  background-image: url('https://media.comicbook.com/2018/03/dnd-monsters-1093421.jpeg');
}

h1 {
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template: 300px 300px / 300px 300px;
  grid-gap: 8%;
}
